<header class="header">
	<div class="container">
			<div class="Navbar">

	   <div class="Navbar__Link Navbar__Link-brand">
			 <h1 class="logo web" style="display: inline; padding: 0.5rem 0 0 0;">
				 <a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}"><span style="font-family: Poppins;">{{ site.author }}</span></a>
			 </h1>
	    </div>
	    <div class="Navbar__Link Navbar__Link-toggle">
	      <div class="fas fa-bars bars" style="margin: 0 0 5px 0"></div>
				<div class="fas fa-bars bars" style="margin: 5.8px 0 5.8px 0"></div>
				<div class="fas fa-bars bars" style="margin: 5px 0 0 0"></div>
	    </div>

	  <nav class="Navbar__Items">
	  </nav>
	  <nav class="Navbar__Items Navbar__Items--right">
			<div class="hozline" style="border: 0.5px solid black;"></div>
			<div class="Navbar__Link rnav padder">
	      <a href="https://tanyalai.github.io/">Home</a>
	    </div>
	    <div class="Navbar__Link rnav padder">
	      <a href="https://umich.box.com/s/2x7arkcal0dgp1z3aehhttghvgrukjls" target="_blank">Resumé</a>
	    </div>
	    <div class="Navbar__Link rnav padder">
	      <a href="https://tanyalai.github.io/projects/">Projects</a>
	    </div>
	    <div class="Navbar__Link rnav padder">
	      <a href="https://tanyalai.github.io/about/">About</a>
	    </div>
	  </nav>
	</div>
	</div>

</header>
